
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  background: linear-gradient(
          to right,
          rgba(30, 32, 40, 0.8),
          rgba(22, 24, 30, 0.8)
  );

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  transition: all 0.3s ease;
}

.navbar {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 16px 24px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  z-index: 200;
  color: #333;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8); /* 半透明背景 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: rgba(30, 32, 40, 0.8);
    padding: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-links {
    display: flex;
  }

  .nav-toggle-label {
    display: block;
  }
}
